* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gotham";
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rechtsbündig {
  text-align: end;
}
