<h2 class="text-left ps-3 py-3 heading mb-0 text-white" style="background-color: rgb(43, 43, 43)">
    Vorteile Coronas
</h2>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">*Ausgewählt*</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Homeoffice
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/homeoffice#pendeln">Pendeln</a></li>
                        <li><a class="dropdown-item" href="/homeoffice#flexibilität">Flexibilität</a></li>
                        <li><a class="dropdown-item" href="/homeoffice#stoerungsfreiarbeiten">Störungsfrei arbeiten</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Klima
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/klima#co2">CO2</a></li>
                        <li><a class="dropdown-item" href="/klima#fleischkonsum">Fleischkonsum</a></li>
                        <li><a class="dropdown-item" href="/klima#natur">Natur</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Helden des Alltags
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/heldendesalltags#ärzte">Ärzte</a></li>
                        <li><a class="dropdown-item" href="/heldendesalltags#pflegekräfte">Pflegekräfte</a></li>
                        <li><a class="dropdown-item" href="/heldendesalltags#verkäufer">Verkäufer</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Zeit im Überfluss
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Selbsverständlichkeit</a></li>
                        <li><a class="dropdown-item" href="#">Eigenbedürfnisse</a></li>
                        <li><a class="dropdown-item" href="#">Projekte</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Bildungstechnologisierung
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Online Lernangebote</a></li>
                        <li><a class="dropdown-item" href="#">Lernapps</a></li>
                        <li><a class="dropdown-item" href="#">Technologisierung in Schulen</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sozialer Zusammenhalt
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Wertschätzung</a></li>
                        <li><a class="dropdown-item" href="#">Spieleabende</a></li>
                        <li><a class="dropdown-item" href="#">Spaziergänge</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>